<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/chats.css">
  <link rel="stylesheet" href="../css/site.css">
  <title>Chat | Cavalo-Vapor</title>
  <link rel="shortcut icon" href="../img/favicon3.png" type="image/png">
</head>

<body>

  <!-- menu superior presente em todos as páginas -->

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="../index.html"><img src="../img/logo.png" alt="logo" width="80px"><span
        id="title">Cavalo-Vapor Fretes</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid ml-auto"></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="dashboard.html">Dashboard</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="chats.html">Chat <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="fretes.html">Fretes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="perfil.html">Perfil</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cadastro.html">Cadastro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="suporte.html">Suporte</a>
                </li> -->
        <li class="nav-item">
          <a class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- término do menu -->


  <!-- coluna esquerda do chat, contém descrição, nome, etc. -->
  <div id="root" class="main d-flex">
    <div class="col-4 p-3 border-right border-dark lateral text-center">
      <ul class="areaInformaçoes">
        <li>
          <img src='../img/icon/camera.png' width='100px'>
        </li>
        <li>
          <h3 class="mb-2">
            Nome do chat que está visualizando
          </h3>
        </li>

        <div class="integrantes">
          <ul>
            <li id="pessoa1">integrante1</li>
            <li id="pessoa2">integrante2</li>
            <li id="pessoa3">integrante3</li>
            <li id="pessoa4">integrante4</li>
          </ul>
        </div>

      </ul>
    </div>

    <!-- término da zona esquerda -->



    <!-- zona de mensagens -->

    <div class="col p-3" style="padding: 0;" id="chat">
      <div class="direita">
        vou no mercado, quer algo?
      </div>
      <div class="esquerda">
        ah não sei
      </div>
      <div class="direita">
        assim não ajuda
      </div>
      <div class="esquerda">
        acho que precisa de sal
      </div>
      <div class="direita">
        é sal marinho né?!
      </div>
      <div class="esquerda">
        sim
      </div>

      <form class="zona-textual bg-light border border-dark mt-3" style="border-radius: 10px;">
        <textarea name="" id="" cols="30" class="mensagem" style="overflow-y: hidden; resize: none;"
          placeholder="Digite sua mensagem!"></textarea>
        <button class="botao bg-light">
          <img src="../img/icon/airplanePapel.png" width="30px" alt="papel">
        </button>
      </form>
    </div>
  </div>

  <!-- témino da zona de mensagens -->



  <!-- footer e suporte (botão) -->

  <footer class="bg-dark">
    <div class="pl-3 pb-3 pt-3">
      <img src="../img/logo.png" alt="logo" width="80px">
      <span><a href="temosDeUso.html" id="textTermosLink"><u>Termos de uso</u></a></span>
    </div>
  </footer>
  <div id="buttomSuport" onclick="location.href='suporte.html'">
    <span id="suportSimbolo">
      ?
    </span>
  </div>

  <!-- término footer e suporte -->

  <script src="../js/chats.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
</body>

</html>