<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/frete.css">
  <link rel="stylesheet" href="../css/site.css">
  <title>CavaloVapor Fretes | Frete</title>
</head>

<body class="bg-secondary">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="../index.html"><img src="../img/logo.png" alt="logo" width="80px"><span
        id="title">Cavalo-Vapor Fretes</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid ml-auto"></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="dashboard.html">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="chats.html">Chat</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="fretes.html">Fretes <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="perfil.html">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="suporte.html">Suporte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid" style="background-color: white;">
    <div class="row pt-2 col-12" style="display: flex; justify-content: space-around;">
      <div id="fotoLogo"></div>
      <span style='font-size: 12vw; position: absolute;'>&#8644;</span>
      <div id="fotoLogo"></div>
    </div>
    <div class="row pt-2 col-12" style="display: flex; justify-content: space-around;">
      <div class="col-5">
        <h2 class="col-12" id="nameLogo">Comissão administrativa restrita aos líderes honorários da organização</h2>
        <div class="estrelas">
          <input type="radio" id="cm_star-empty" name="fb" value="" checked />
          <label for="cm_star-1"><i class="fa"></i></label>
          <input type="radio" id="cm_star-1" name="fb" value="1" />
          <label for="cm_star-2"><i class="fa"></i></label>
          <input type="radio" id="cm_star-2" name="fb" value="2" />
          <label for="cm_star-3"><i class="fa"></i></label>
          <input type="radio" id="cm_star-3" name="fb" value="3" />
          <label for="cm_star-4"><i class="fa"></i></label>
          <input type="radio" id="cm_star-4" name="fb" value="4" />
          <label for="cm_star-5"><i class="fa"></i></label>
          <input type="radio" id="cm_star-5" name="fb" value="5" />
        </div>
      </div>
      <div class="col-5">
        <h2 class="col-12" id="nameLogo">Comissão administrativa restrita aos líderes honorários da organização</h2>
        <div class="estrelas">
          <input type="radio" id="cm_star-empty" name="fb" value="" checked />
          <label for="cm_star-1"><i class="fa"></i></label>
          <input type="radio" id="cm_star-1" name="fb" value="1" />
          <label for="cm_star-2"><i class="fa"></i></label>
          <input type="radio" id="cm_star-2" name="fb" value="2" />
          <label for="cm_star-3"><i class="fa"></i></label>
          <input type="radio" id="cm_star-3" name="fb" value="3" />
          <label for="cm_star-4"><i class="fa"></i></label>
          <input type="radio" id="cm_star-4" name="fb" value="4" />
          <label for="cm_star-5"><i class="fa"></i></label>
          <input type="radio" id="cm_star-5" name="fb" value="5" />
        </div>
      </div>
    </div>
    <div class="row pt-2 col-12" style="display: flex; justify-content: space-around;">
      <div class="col-md-5 col-sm-12">
        <div class="col-12">
          <p class="text-justify">
            <strong>Descrição: </strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Voluptatibus iste atque aliquam dolorum quidem libero, natus aspernatur nemo, iusto ad
            similique, quisquam velit. Accusantium modi facere eum molestias tempora officia!
          </p>
          <p>
            <strong>Carga: </strong>Trigo
          </p>
          <p>
            <strong>Tipo de carga: </strong>Seral
          </p>
          <p>
            <strong>Tipo de reboque necessário: </strong>Graneleiro
          </p>
          <p>
            <strong>Status: </strong>Disponível
          </p>
          <p>
            <strong>Descrição detalhada do status: </strong> Vazio
          </p>
          <p>
            <strong>Peso da inicial da carga: </strong>140t
          </p>
          <p>
            <strong>Distância do frete: </strong>2048Km
          </p>
          <p>
            <strong>Peso do contrato: </strong>Capacidade máxima do caminhão
          </p>
          <p>
            <strong>Preço do contrato: </strong>R$ 1,82 por Km
          </p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="col-12" style="min-height: 65%;">
          <p>
            <strong>Tipo Carteira: </strong>Tipo D
          </p>
          <p>
            <strong>Capacidade da carreta: </strong>28t
          </p>
          <p>
            <strong>Autonomia da carreta: </strong>1243Km
          </p>
          <p>
            <strong>Qualificado para o frete: </strong>Frete disponível
          </p>
        </div>
        <div class="col-12" style="display: flex; align-items: center; justify-content: center;">
          <button class="btn btn-secondary col-8">Candidatar-se</button>
        </div>
      </div>
    </div>
    <div class="row pt-2 col-12" style="display: flex; justify-content: space-around;">
      <div class="col-md-5 col-sm-12">
        <div class="col-12">
          <span class="col-12 text-center">
            <h3>Carga:</h3>
          </span>
          <div class="h-100 p-2 col-12 divsBorders">
            <strong>Data: </strong><br>
            <span class="ml-2">17/10/2020</span>
            <hr class="divsAdress">
            <strong>Horário: </strong><br>
            <span class="ml-2">09:03h</span>
          </div>
          <span class="col-12 text-center">
            <h3>Endereço de Carga:</h3>
          </span>
          <div class="h-100 p-2 col-12 divsBorders">
            <strong>Estado: </strong>
            <hr class="divsAdress">
            Santa Catarina
          </div>
          <div class="h-100 p-2 col-12 divsBorders">
            <strong>Cidade: </strong>
            <hr class="divsAdress">
            Araquari
          </div>
          <div class="h-100 p-2 col-12 divsBorders">
            <strong>CEP: </strong>
            <hr class="divsAdress">
            89245-000
          </div>
          <div class="h-100 p-2 col-12 divsBorders">
            <strong>Número: </strong>
            <hr class="divsAdress">
            812
          </div>
          <div class="h-100 p-2 col-12 divsBorders">
            <strong>Bairro: </strong>
            <hr class="divsAdress">
            Porto Grande
          </div>
          <div class="h-100 p-2 col-12 divsBorders">
            <strong>Rua: </strong>
            <hr class="divsAdress">
            Roberto Nagel
          </div>
          <div class="h-100 p-2 col-12 divsBorders">
            <div class="col-12 h-100">
              <strong>Complemento: </strong>
            </div>
            <hr class="divsAdress">
            Casa 2
          </div>
          <div class="h-100 p-2 col-12 divsBorders" style="background-color: lightgray;">
            <strong>Informações Extras: </strong><br>
            <ul style="margin-left: 2vw;">
              <li>Trabalha na Empresa C.A.R.A.L.H.O</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="col-12">
          <span class="col-12 text-center">
            <h3>Descarga:</h3>
          </span>
          <div class="h-100 p-2 col-12 divsBorders">
            <strong>Data: </strong><br>
            <span class="ml-2">19/10/2020</span>
            <hr class="divsAdress">
            <strong>Horário: </strong><br>
            <span class="ml-2">20:30h</span>
          </div>
          <span class="col-12 text-center">
            <h3>Endereço de Entrega:</h3>
          </span>
          <div class="h-100 p-2 col-12 divsBorders">
            <strong>Estado: </strong>
            <hr class="divsAdress">
            Santa Catarina
          </div>
          <div class="h-100 p-2 col-12 divsBorders">
            <strong>Cidade: </strong>
            <hr class="divsAdress">
            Araquari
          </div>
          <div class="h-100 p-2 col-12 divsBorders">
            <strong>CEP: </strong>
            <hr class="divsAdress">
            89245-000
          </div>
          <div class="h-100 p-2 col-12 divsBorders">
            <strong>Número: </strong>
            <hr class="divsAdress">
            812
          </div>
          <div class="h-100 p-2 col-12 divsBorders">
            <strong>Bairro: </strong>
            <hr class="divsAdress">
            Porto Grande
          </div>
          <div class="h-100 p-2 col-12 divsBorders">
            <strong>Rua: </strong>
            <hr class="divsAdress">
            Roberto Nagel
          </div>
          <div class="h-100 p-2 col-12 divsBorders">
            <div class="col-12 h-100">
              <strong>Complemento: </strong>
            </div>
            <hr class="divsAdress">
            Casa 2
          </div>
          <div class="h-100 p-2 col-12 divsBorders" style="background-color: lightgray;">
            <strong>Informações Extras: </strong><br>
            <ul style="margin-left: 2vw;">
              <li>Trabalha na Empresa C.A.R.A.L.H.O</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="bg-dark">
    <div class="pl-3 pb-3 pt-3">
      <img src="../img/logo.png" alt="logo" width="80px">
      <span><a href="temosDeUso.html" id="textTermosLink"><u>Termos de uso</u></a></span>
    </div>
  </footer>
  <div id="buttomSuport" onclick="location.href='suporte.html'">
    <span id="suportSimbolo">
      ?
    </span>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
</body>

</html>